<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body{background:#EEEEEE; margin:20px auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0 10px}
      h1,h2,h3{line-height:1.2}
      
      .navbar{list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: mediumpurple}
      .navbar li{float: left;}
      .navbar li a{display:block; padding: 14px 16px;color: #eee; text-decoration: none;}
      .navbar li a:hover {background-color: #586f7c;}
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <title>Recipes</title>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="{% url 'recipes:index' %}">Home</a></li>
      <li><a href="{% url 'recipes:menu' %}">Menu</a></li>
      <li><a href="{% url 'recipes:categories' %}">Categories</a></li>
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
    
    {% block content %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
  </body>
</html>
