{% extends 'recipes/base.html' %}

{% block content %}
<h1>{{ recipe.recipe_name }}</h1>

<h2>{{ recipe.recipe_description }}</h2>

<h3>Ingredients</h3>
<ul>
  {% for ingredient in recipe.ingredient_set.all %}
  <li>{{ ingredient.amount }} of {{ ingredient.ingredient_name }}</li>
  {% endfor %}
</ul>

<h3>Steps</h3>
<ol>
  {% for step in recipe.step_set.all %}
  <li>{{ step.step_text }}</li>
  {% endfor %}
</ol>

<form action="{% url 'recipes:toggle' recipe.id %}" method="post">
  {% csrf_token %}
  <label>
    <input type="checkbox" name="on_the_menu" {% if recipe.on_the_menu %}checked{% endif %} />
    On the Menu
  </label>
  <button type="submit">Submit</button>
</form>
{% endblock %}
